
.through{
	text-decoration: line-through;
	opacity: 50%;
}
/*input[type="checkbox"]:checked + span{
  text-decoration: line-through;
  opacity: 50%;
}
*/
.container {
	display: flex;
	justify-content: center;
}

h1 {
	text-align: center;
}

.red {
	color: red;
	text-size: 10px;
	transition-duration: 0.2s;
}
span {
	transition-duration: 0.5s;
}
